p, h2,h3{
    margin: 0;
    padding: 5px;
}


.container{
    max-width: 1170px;
    margin: 0 auto;
}

.list-item{
    margin-top: 20px;
    background: #ebf4ff;
}

.list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 0;
    flex-wrap: wrap;
}
.list li{
    box-sizing: border-box;
    width: 45%;
    outline: 2px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    list-style: none;
}
.list li div{
    float: left;
}
img{
    float: right;
}
@media(max-width: 1000px){
    .list li{
        width: 50%;
    }
}